
.tree {
  position: absolute;
  height: 800px;
}

.node {
  display: inline-block;
  width: 0px;
  height: 22px;
  vertical-align: middle;
  /* border: 1px solid #00FF00; */
  overflow: visible;
  position: relative;
}
.title {
  position:absolute;
  top: -1em;
  opacity: 1;
  left: 8px;
}
.circle {
  display: inline-block;
  width: 8px;
  height: 8px;
  margin: 4px;
  border-radius: 50%;
  border: 2px solid #0000ff;
}

.inline-set {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.ReactCollapse--content {
  /*border: 1px solid #333;*/
}

.branch {
  display: inline-block;
  vertical-align: middle;
  /* border: 1px solid #aaa; */
  min-width: 120px;
  min-height: 40px;
}

.origin {
  position:absolute;
  left: 50%;
  top: 50%;
  width:0;
  height:0;
  overflow: visible;
}

.point {
  position: absolute;
  width:0;
  height:0;
  border-radius: 50%;
  transform: translate(-5px, -5px);
  border: 5px solid #0000FF;
  overflow: visible;
  box-sizing: border-box;
}
